          <!-- BEGIN <%= component.name%> <%= component.id%> -->
          <table cellspacing="0" cellpadding="0" border="0" class="wspread <%= component.name%> <%= component.id%>" width="<%= style.width%>" valign="top" align="center" bgcolor="<%= component.style.backgroundColor || style.backgroundColor || 'none'%>" style="min-width:<%= style.width%>px;">
            <tr>
              <td width="<%= style.width%>" height="<%= (component.style.height || 20)%>" valign="top" class="wspread" style="min-wdith:<%= style.width%>px">
                <img src="img/p.gif" height="<%= (component.style.height || 20)%>" width="100%" style="display:block;border:0;" border="0">
              </td>
            </tr>
          </table>
          <!-- END <%= component.name%> <%= component.id%> -->
