          <!-- BEGIN <%= component.name%> <%= component.id%> -->
          <table cellspacing="0" cellpadding="0" border="0" class="wspread <%= component.name%> <%= component.id%>" width="<%= style.width%>" valign="top" align="center" bgcolor="<%= component.style.backgroundColor || style.backgroundColor || 'none'%>" style="min-width:<%= style.width%>px;">
            <% if(isNaN(component.tbPad) || component.tbPad > 0) { %>
            <tr>
              <td width="<%= style.width%>" height="<%= component.tbPad || tbPad || 13%>" valign="top" class="wspread" style="min-wdith:<%= style.width%>px">
                <img src="img/p.gif" height="<%= component.tbPad || tbPad || 13%>" width="100%" style="display:block;border:0;" border="0"/>
              </td>
            </tr>
            <% } %>
            <tr>
              <td width="<%= style.width%>" valign="top" class="wspread" style="min-wdith:<%= style.width%>px">
                <table cellspacing="0" cellpadding="0" border="0" class="wspread" width="<%= style.width%>" valign="top" align="center" bgcolor="<%= component.style.backgroundColor || style.backgroundColor || 'none'%>" style="min-width:<%= style.width%>px;">
                  <tr>
                    <td width="<%= sidePad%>" class="side-pad">
                      <img class="side-pad" src="img/p.gif" height="<%= (component.style.fontSize || 14) * (component.style.lineHeight || 1.2)%>" width="<%= sidePad%>" style="display:block;border:0;" border="0">
                    </td>
                    <td class="gmail-app-fix" align="<%= component.style.textAlign || 'left'%>" valign="<%= component.style.vAlign || 'middle'%>" height="<%= component.style.height || ''%>" style="min-width:<%= style.width-(2*sidePad)%>px;line-height:<%= (component.style.fontSize || 14) * (component.style.lineHeight || 1.2)%>px">
                      <span style="font-family:Arial, Helvetica, sans-serif; font-size:<%= component.style.fontSize || 14%>px;color:<%= component.style.color || '#333333'%>;line-height:<%= (component.style.fontSize || 14) * (component.style.lineHeight || 1.2)%>px;">
                        Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. <a href="#" target="_blank" style="color:<%= component.style.color || '#333333'%>">view online</a>.
                      </span>
                    </td>
                    <td width="<%= sidePad%>" class="side-pad">
                      <img class="side-pad" src="img/p.gif" height="<%= (component.style.fontSize || 14) * (component.style.lineHeight || 1.2)%>" width="<%= sidePad%>" style="display:block;border:0;" border="0">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <% if(isNaN(component.tbPad) || component.tbPad > 0) { %>
            <tr>
              <td width="<%= style.width%>" height="<%= component.tbPad || tbPad || 13%>" valign="top" class="wspread" style="min-wdith:<%= style.width%>px">
                <img src="img/p.gif" height="<%= component.tbPad || tbPad || 13%>" width="100%" style="display:block;border:0;" border="0"/>
              </td>
            </tr>
            <% } %>
          </table>
          <!-- END <%= component.name%> <%= component.id%> -->
