          <!-- BEGIN <%= component.name%> <%= component.id%> -->
          <tr>
            <td width="<%= style.width%>" valign="top" class="wspread" style="min-wdith:<%= style.width%>px">
              <table class="wspread" width="<%= style.width%>" valign="top" align="center" bgcolor="<%= component.style.backgroundColor || style.backgroundColor || 'none'%>" style="min-width:<%= style.width%>px;">
                <tr>
                  <td class="wspread" width="<%= style.width%>" align="<%= component.logoAlign || 'center'%>" valign="middle">
                    <% if(component.linked) { %>
                    <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;">
                    <% } %>
                    <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/828&amp;text=Banner" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                    <img src="http://placehold.it/<%= style.width%>x400&amp;text=Banner" alt="" style="display:block;border:0;" class="mobile-hide" />
                    <% if(component.linked) { %>
                    </a>
                    <% } %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END <%= component.name%> <%= component.id%> -->
